.header-container{
  position: relative;
  width: 100%;
  height: calc(100vh - 57px);
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
   url('../images/ferenc-almasi-eYpcLDXHVb0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.header-container .header-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.header-container .header-info button{
  border: 1px solid var(--buttonBorder);
  padding: 8px 1rem;
  background-color: transparent;
  border-radius: 5px;
  letter-spacing: 3px;
  transition: var(--transition);
  margin-top: 1rem;
  text-transform: uppercase;
  outline-style: none;
}
.header-container .header-info button:hover{
  background-color: var(--buttonHover);
}
.header-container .header-info button a{
 color: var(--fontWhite);
}